<div class="auth-form-container">
  <h1>Autentificare</h1>
  <form id="loginForm" class="auth-form">
    <input type="email" id="loginEmail" placeholder="Email" required class="auth-input">
    <input type="password" id="loginParola" placeholder="Parolă" required class="auth-input">
    <button type="submit" class="auth-submit-button">Autentificare</button>
  </form>
  <p id="loginMessage" class="auth-message"></p>
  <p class="auth-link-message">Nu ai cont? 
    <button id="goToRegister" class="auth-link-button">Înregistrează-te</button>
  </p>
</div>
